#header{
   text-align: center;
   margin-top: 5px;
   margin-bottom: 5px; 
}
#board > div{
  	background: url(https://lh3.google.com/u/0/d/14lTcxgGUdiEy0iBPRO81J37jpju3g9_T=w1024-h616-iv1) no-repeat;
	border:#000 5px solid;
	width:100px;
	height:100px;
	float:left;
	margin:10px;
	padding:20px;
	font-size:64px;
	cursor:pointer;
	text-align:center;
}

#board{
	background:#fff;
  width:680px;
	height:340px;
  border-radius:10px;
	border:#000 7px solid;
	padding:20px;
	margin: auto;
}
