#header{
   text-align: center;
   margin-top: 5px;
   margin-bottom: 5px; 
}
#board > div{
  	background: url(https://i.imgur.com/3mIrLAj.png) no-repeat;
	border:#000 5px solid;
	width:100px;
	height:100px;
	float:left;
	margin:10px;
	padding:20px;
	font-size:64px;
	cursor:pointer;
	text-align:center;
}

#board{
	background:#fff;
  	width:680px;
	height:340px;
  	border-radius:10px;
	border:#000 7px solid;
	padding:20px;
	margin: auto;
}

#board > h1 {
    font-size: 250%;
    text-align: center;
}

button{
    background: #fff;
    border-radius: 10px;
    border: #000 7px solid;
    display: block;
    width: 300px;
    margin: auto;
    font-size: 150%;
    font-weight: 900;
    padding: 10px;
}