#header{
   text-align: center;
   margin-top: 5px;
   margin-bottom: 5px; 
}
#board > div{
  	background: url(https://lh5.googleusercontent.com/vtMb8kt9QYQlfYVXCP0iouDt5qRkdFNrckMyUjvVpj9G9WTfhkvzSp8RZEbmpR5bBHAfC9SS0q1pbw=w1024-h616) no-repeat;
	border:#000 5px solid;
	width:100px;
	height:100px;
	float:left;
	margin:10px;
	padding:20px;
	font-size:64px;
	cursor:pointer;
	text-align:center;
}

#board{
	background:#fff;
  width:680px;
	height:340px;
  border-radius:10px;
	border:#000 7px solid;
	padding:20px;
	margin: auto;
}
